<!DOCTYPE html>
<html x-data="theme" :class="theme ? 'dark': ''" x-cloak class="h-full">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body class="bg-white dark:bg-slate-900">
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    </nav>

    @!section('body')

    @!toast()
  </body>
</html>
