<!DOCTYPE html>
<html x-data="theme" :class="theme ? 'dark': ''" x-cloak class="h-full">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body class="bg-white dark:bg-slate-900 grid grid-flow-row min-h-screen">
    @include('partials/header')

    <main>
      @!section('body')
    </main>

    @!toast()
    @include('partials/footer')
  </body>
</html>
